<div id="wrapper">

    <!-- <div id="login-container">
        <p id="current-user"></p><button id="login-button">Login</button>
    </div> -->
    <!-- <h1 id="main-page-header">Find-A-Friend.fluff!</h1> -->
    <!-- <nav id="nav">
        <a href="./index.html">Home</a>
        <a href="./adopt.html">Find a Pet</a>
        <a id="shelter-link" href="./shelter.html">Find a Shelter</a>
    </nav> -->

    <div id="main-area">
        <h4 id="button-description">Use a saved pet ID to see what other animals are at your saved pets shelter!
            Or, enter your ZIP code to see what shelters are near you!</h4>
        <div id="choice-zone">
            <div>
                <button id="pet-id-button">Use Saved Pet ID</button>
                <div>OR</div>
                <input type="text" id="zip-code" maxlength="5" placeholder="ZIP Code">
            </div>
            <button id="shelter-button">Find a Shelter!</button>
        </div>
        <div id="table-container"></div>
        <div id="id-message-container"></div>
        <div id="pet-list-table-container"></div>
    </div>
</div>